# General ignore patterns
.DS_Store
Thumbs.db
*.log
.env

# Django Backend specific files
my_task_api/*.log
my_task_api/*.pot
my_task_api/*.pyc
my_task_api/__pycache__/
my_task_api/.Python
my_task_api/db.sqlite3
my_task_api/media/
my_task_api/static/
my_task_api/venv/ # Virtual environment for Django

# React Frontend specific files
task-frontend/node_modules/
task-frontend/build/ # Production build of React app
task-frontend/npm-debug.log*
task-frontend/yarn-debug.log*
task-frontend/yarn-error.log*

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace